* {
    margin: 0;
    box-sizing: border-box;
}

.w-25 {
    width: 25%;
}

.d-block {
    display: block;
}

.mt-2 {
    margin-top: 14px;
}

.mb-2 {
    margin-bottom: 14px;
}

.mx-auto {
    margin: auto;
}

.text-center {
    text-align: center;
}

.text-light {
    color: white;
}

.container {
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(0, 195, 255), rgb(0, 0, 156, 0.7));
    height: auto;
    overflow: hidden;
}

.main_content {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    color: white;
}

.text {
    width: 50%;
    padding-top: 50px;
    float: left;
}

.text p {
    margin-top: 15px;
}

.iphone {
    width: 400px;
    padding-top: 70px;
    float: right;
}

.btn {
    padding: 15px 20px 15px 20px;
    border-radius: 7px;
    border: none;
    color: white;
    background: rgb(83, 83, 83);
    margin-top: 15px;
}

.section2_bg {
    width: 100%;
    height: auto;
}

.row {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section3_bg {
    width: 100%;
    height: auto;
    background-color: rgb(105, 63, 255);
    padding: 50px;
}

.section3_header {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.service_list {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 50px;
}


.service {
    width: 25%;
    height: 100px;
    float: left;
}

.service i {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 15px;
    width: 72px;
    height: 72px;
    font-size: 30px;
}

.section4_content {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 50px;
}

.section4_header {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 30px;
}

.portfolio {
    width: 50%;
    background: chartreuse;
    height: 300px;
    float: left;
    padding: 30px;
    color: white;
    background-image: url(../img/portfolio-4.jpg);
    transition: all 0.7s;
}

.portfolio:hover {
    border: 30px solid white;
}

.footer-bg {
    width: 100%;
}

.footer-content-box {
    width: 100%;
    max-width: 200px;
    margin: auto;
    display: flex;
    align-items: center;
}

.footer-content {
    width: 33.3%;
    text-align: center;
}

.footer-content i {
    background-color: darkcyan;
    padding: 15px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    margin: 0px 5px 0px 5px;
}

.copy {
    margin: 20px 0px 20px 0px;

    text-align: center;
}


@media screen and (max-width:1200px) {
    .text {
        width: 100%;
        text-align: center;
    }

    .iphone {
        width: 340px;
        padding-top: 40px;
        display: block;
        /* 
        1. display block
        2. float none
        3. margin auto
        */
        float: none;
        margin: auto;
    }

    .service {
        width: 50%;
        padding-top: 30px;
        height: auto;
    }

}

@media screen and (max-width:768px) {
    .text {
        width: 100%;
    }


    .iphone {
        width: 280px;
        padding-top: 10px;
        display: block;
        /* 
        1. display block
        2. float none
        3. margin auto
        */
        float: none;
        margin: auto;
    }

    .service_list {
        padding: 30px 0px 0px 0px;
    }

    .service {
        display: block;
        float: none;
        padding-top: 20px;
        height: 200px;
        width: 100%;
    }

}

@media screen and (max-width:576px) {
    .portfolio {
        width: 100%;
    }
}